@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

* {
  margin: 0;
  padding: 0;

}

.cover {
  width: 100%;
  height: 100vh;
  background-color: rgb(136, 37, 106);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cover-title {
  font-family: "Cherry Bomb One";
  font-size: 100px;

}

.enter-button {
  background-color: rgb(134, 138, 140);
  width: 200px;
  height: 50px;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  border: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.enter-button:active {
  border: 3px solid rgb(60, 60, 60);

}

.header {
  height: 50px;
  background-color: rgb(136, 37, 106);
  font-family: "Cherry Bomb One";
  font-size: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
}

.header a {
  height: 125%;
}

main {
  background-color: rgb(181, 81, 151);
  display: flex;
  padding: 20px;
  flex-direction: space-around;
  flex-wrap: wrap;
  justify-content: center;

}

.quiz-button {
  background-color: rgb(136, 37, 106);
  width: 100%;
  height: 40px;
  border-radius: 0px 0px 5px 5px;
  border: rgb(134, 138, 140);
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.quiz-button:active {
  border: 3px solid rgb(60, 60, 60);
}

.quiz {
  width: 300px;
  height: 300px;
  display: flex;

  background-color: rgb(74, 174, 204);
  margin: 20px;
  border-radius: 6px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  flex-direction: column;
  flex-basis: 23%;
  justify-content: space-between;
}

.quiz-title {
  font-size: 35px;
  font-family: "Cherry Bomb One";
  text-align: center;
}

.quiz-info {
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.quiz-title-block {

  background-color: rgb(136, 37, 106);
  border-radius: 5px 5px 0px 0px;

}

footer {
  background-color: rgb(136, 37, 106);
  font-family: "Cherry Bomb One";
  padding: 10px;
  font-size: 28px;
  color: white;
  display: flex;
}

footer a {
  margin-left: 12px;
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: rgb(74, 174, 204);
}


.bg-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);

}

#question-container {
  position: fixed;
  border-radius: 5px;
  width: 700px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(181, 81, 151);
}

#question-block {
  background-color: rgb(136, 37, 106);
  height: 50px;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px 5px 0px 0px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#question-text { 
  width: 80%;
  text-align: center;
}



#choices-list {
  list-style: none;
}

.choice {
  width: 600px;
  height: 50px;
  border-radius: 4px;
  margin: 10px;
  background-color: rgb(136, 37, 106);
  color: white;
  border: 0px;
  font-size: 20px;
}

.choice:active { 
  border: 2px solid white
}

#result-container {
  width: 600px;
  height: 50px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}