@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

* {
  margin: 0;
  padding: 0;

}

.cover {
  width: 100%;
  height: 100vh;
  background-color: rgb(136, 37, 106);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cover-title {
  font-family: "Cherry Bomb One";
  font-size: 100px;

}

.enter-button {
  background-color: rgb(134, 138, 140);
  width: 200px;
  height: 50px;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  border: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.enter-button:active {
  border: 3px solid rgb(60, 60, 60);

}

.header {
  height: 50px;
  background-color: rgb(136, 37, 106);
  font-family: "Cherry Bomb One";
  font-size: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;

}

.header a {
  height: 125%;
}

main {
  background-color: rgb(181, 81, 151);
  display: flex;
  padding: 20px;
  flex-direction: space-around;
  flex-wrap: wrap;
  justify-content: center;

}

.quiz-button {
  background-color: rgb(136, 37, 106);
  width: 100%;
  height: 40px;
  border-radius: 0px 0px 5px 5px;
  border: rgb(134, 138, 140);
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.quiz-button:active {
  border: 3px solid rgb(60, 60, 60);
}

.quiz {
  width: 300px;
  height: 300px;
  display: flex;

  background-color: rgb(74, 174, 204);
  margin: 20px;
  border-radius: 6px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  flex-direction: column;
  flex-basis: 23%;
  justify-content: space-between;
}

.quiz-title {
  font-size: 35px;
  font-family: "Cherry Bomb One";
  text-align: center;
}

.quiz-info {
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.quiz-title-block {

  background-color: rgb(136, 37, 106);
  border-radius: 5px 5px 0px 0px;

}

footer {
  background-color: rgb(136, 37, 106);
  font-family: "Cherry Bomb One";
  padding: 10px;
  font-size: 28px;
  color: white;
  display: flex;
}

footer a {
  margin-left: 12px;
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: rgb(74, 174, 204);
}

.question-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(181, 81, 151);
  /* Adjust the opacity as needed */
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  height: 90%;
  margin: 0 auto;
}

/* Add these styles to your existing CSS file or use a new one */




#question-block {
  background-color: rgb(136, 37, 106);
  height: 120px;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#choices-list {
  list-style: none;
  margin-top: 15px;
  font-size: 30px;
}

.choice-container {
  display: flex;
  align-items: center;
}

.choice {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: rgb(136, 37, 106);
  border: 0px;
  font-size: 20px;
  overflow: hidden;
}

.choice::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
}

.triangle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 70px;
  height: 70px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: white;
}

.square::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background-color: white;
}

.rhombus::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 70px;
  height: 70px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: white;
}

.star::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background-color: white;
}



.choice-text {
  margin-left: 10px; /* Adjust the margin as needed */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.choice:active {
  border: 2px solid white;
}

/* Ваш стиль для правильного ответа (зеленый) */
.selected.correct {
  background-color: #4CAF50;
  color: white;
}

/* Ваш стиль для неправильного ответа (красный) */
.selected.incorrect {
  background-color: #f44336;
  color: white;
}

#main-logo {
  width: 500px;
}

#about-me-block {
  background-color: rgb(181, 81, 151);
  display: flex;
  color: white;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.info-about-me {
  font-size: 28px;
  margin-top: 40px;
  width: 90%;
  margin-left: 20px;
}

.greetings {
  margin-left: 20px;
  font-size: 70px;
}

.job-title {
  margin-left: 20px;
  font-size: 70px;
}